.render-column {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.render-column.active {
    background: indigo;
    border-radius: 20px;

}