@import url('https://fonts.googleapis.com/css?family=Pangolin&subset=cyrillic,cyrillic-ext');

.small-game-logo-name {
    font-family: 'Pangolin', cursive;
    color: white;
    font-size: 32px;
    width: 200px;
    height: 100px;
    text-align: center;
}