.status-bar-layout {
    width: 480px;
    height: 100px;
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.status-bar-layout .sb-header {
    color: white;
    font-weight: bold;
    margin: 0px;
    width: 550px;
    text-align: center;
}

.status-bar-layout .player-info {
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}