.footer-layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    width: 700px;
    height: 100px;
    background-color: #19213e;
    padding: 0;
}

.left-column-footer {
    width: 200px;
    display: flex;
    justify-content: center;
}

.rigth-column-footer {
    width: 500px;
    display: flex;
    justify-content: space-around;
}